.supervised_user_circle {
    background-image: url('src/assets/baseline_supervised_user_circle_black_24dp.png');
    background-size: cover;
}

.card-header {
    background-color: #673ab7;
    color:white;
}