<mat-form-field>
    <mat-label>Crew Name</mat-label>
    <input matInput [(ngModel)]="data.crew.crewName" required #crewName="ngModel">
</mat-form-field>

<div *ngIf="crewName.invalid && (crewName.dirty || crewName.touched)" class="alert alert-danger">
    <div *ngIf="crewName.errors.required">
        Field cannot be empty.
    </div>
</div>

<mat-form-field>
    <mat-label>Captain</mat-label>
    <mat-select 
    [(ngModel)]="data.crew.captain"
    name="pilot" 
    (selectionChange)="selectPilotCheck()"
    required
    #captain="ngModel"
    [compareWith]="pilotComparisonFunction"
    >
        <mat-option *ngFor="let pilot of data.pilots" [value]="pilot">
            {{pilot.firstName}} {{pilot.lastName}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>First Officer</mat-label>
    <mat-select 
    [(ngModel)]="data.crew.firstOfficer" 
    name="pilot" 
    (selectionChange)="selectPilotCheck()"
    required
    #firstOfficer="ngModel"
    [compareWith]="pilotComparisonFunction"
    >
        <mat-option *ngFor="let pilot of data.pilots" [value]="pilot">
            {{pilot.firstName}} {{pilot.lastName}}
        </mat-option>
    </mat-select>
</mat-form-field>

<mat-form-field>
    <mat-label>Second Officer</mat-label>
    <mat-select 
    [(ngModel)]="data.crew.secondOfficer" 
    name="pilot" 
    (selectionChange)="selectPilotCheck()"
    required
    #secondOfficer="ngModel"
    [compareWith]="pilotComparisonFunction"
    >
        <mat-option *ngFor="let pilot of data.pilots" [value]="pilot">
            {{pilot.firstName}} {{pilot.lastName}}
        </mat-option>
    </mat-select>
</mat-form-field>

<div *ngIf="_selectionError" class="alert alert-danger">{{_selectionError}}</div>
<br>
<button mat-raised-button color="primary" (click)="onClickEditCrew(data.crew)">Edit</button>