<mat-form-field>
    <mat-label>Username</mat-label>
    <input [disabled]="editingDisabled" matInput [(ngModel)]="data.user.username" #name="ngModel" required>
</mat-form-field>
<mat-form-field>
    <mat-label>Role</mat-label>
    <mat-select [disabled]="editingDisabled" [(ngModel)]="data.user.role" #role="ngModel" required>
        <mat-option value="Admin">Admin</mat-option>
        <mat-option value="User">User</mat-option>
        <mat-option value="Pilot">Pilot</mat-option>
    </mat-select>
</mat-form-field>
<div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert alert-danger">
    <div *ngIf="name.errors.required">
        Name is required.
    </div>
</div>
<div *ngIf="role.invalid && (role.dirty || role.touched)" class="alert alert-danger">
    <div *ngIf="role.errors.required">
        Role is required.
    </div>
</div>
<br>
<mat-form-field *ngIf="!editingDisabled">
    <mat-label>Password</mat-label>
    <input [disabled]="editingDisabled" type="password" placeholder="If left empty, password will not change." matInput [(ngModel)]="data.user.password">
</mat-form-field>
<br>
<br>
<mat-form-field>
    <mat-label>Name</mat-label>
    <input [disabled]="editingDisabled"  matInput [(ngModel)]="data.user.firstName">
</mat-form-field>
<mat-form-field>
    <mat-label>Email</mat-label>
    <input [disabled]="editingDisabled" type="email" matInput [(ngModel)]="data.user.email">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Surname</mat-label>
    <input [disabled]="editingDisabled" matInput [(ngModel)]="data.user.lastName">
</mat-form-field>
<mat-form-field *ngIf="!editingDisabled">
    <mat-label>Pesel</mat-label>
    <input [disabled]="editingDisabled" matInput [(ngModel)]="data.user.pesel">
</mat-form-field>
<br>
<mat-form-field>
    <mat-label>Phone Number</mat-label>
    <input [disabled]="editingDisabled" type="tel" placeholder="Format: 123-456-789" matInput [(ngModel)]="data.user.phoneNumber">
</mat-form-field>
<mat-form-field *ngIf="!editingDisabled">
    <mat-label>ID Card Number</mat-label>
    <input [disabled]="editingDisabled" matInput [(ngModel)]="data.user.documentId">
</mat-form-field>
<br>
<button *ngIf="!editingDisabled" mat-raised-button color="primary" (click)="onClickEditUser(data.user)">Submit</button>
<br>
<br>
<div *ngIf="error" class="alert alert-danger">{{error}}</div>