<body>
  <mat-toolbar color="primary" >
    <span><mat-icon>airplanemode_active</mat-icon> Linia Lotnicza</span>
    <button mat-icon-button class="home-icon" routerLink="/" *ngIf="user"><mat-icon>home</mat-icon></button>
    <button mat-icon-button class="admin-icon" routerLink="/admin" *ngIf="isAdmin"><mat-icon>admin_panel_settings</mat-icon></button>
    <button mat-icon-button class="dispatcher-icon" routerLink="/dispatcher" *ngIf="isAdmin || isDispatcher"><mat-icon>receipt</mat-icon></button>
    <button mat-icon-button class="dispatcher-icon" routerLink="/pilot" *ngIf="isAdmin || isPilot"><mat-icon>flight_takeoff</mat-icon></button>
    <span class="example-spacer"></span>
    <button mat-icon-button class="logout-icon" (click)="logout()"><mat-icon>login</mat-icon></button>
  </mat-toolbar>
<div class="container">
  <router-outlet></router-outlet>
</div>
</body>
